*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
/.fleet
.vs
/.idea/
app/.idea/
app/prod/release/app-prod-release.apk
app/prod/release/output-metadata.json
app/prod/release/baselineProfiles/0/app-prod-release.dm
app/prod/release/baselineProfiles/1/app-prod-release.dm
