<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Firebase metadata and services only for the Google build -->
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="updates"/>

        <meta-data android:name="google_analytics_default_allow_analytics_storage" android:value="false" />

        <service
            android:name="com.geecee.escapelauncher.utils.managers.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>